.vscode
.log
*.log
*.tmp
*.bak
.DS_Store
node_modules
dist
build
coverage    
.env
*.env
.idea
*.sublime-project
*.sublime-workspace
*.swp
*.swo
*.swn
*.sln
*.suo
*.ntvs_analysis.dat
*.njsproj
*.sln.docstates
